<div class="mx-5 px-5">
    <h1>Search Results</h1>
    <hr>
    {{#if (search_not_null artists events)}}
        {{#if artists}}
            <p class="title"><span class="green-font">A</span>rtists</p>
            <ul>
            {{#each artists}}
                <li><a href="/artists/{{_id}}">{{name}}</a></li>
            {{/each}}
            </ul>
        {{/if}}
        {{#if events}}
            <p class="title"><span class="green-font">E</span>vents</p>
            <ul>
            {{#each events}}
                <li><a href="/events/{{_id}}">{{name}} ({{date_format date}})</a></li>
            {{/each}}
            </ul>
        {{/if}}
    {{else}}
        <p>No search results. Try a different keyword.</p>
    {{/if}}
</div>